:root {
  --body-bg: #ffffff;
  --text-color: #333;
  --name-color: #b3a2a0;
  --home-color: #dc3845;
  --abs-color: #222;
  --hero-content-p: #5d5656;
  --gift-color: #2f2223;
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.conteiner {
  width: 100%;
  max-width: 1340px;
  padding: 30px;
  margin: 0 auto;
}

button {
  border: none;
}
a {
  color: var(--body-bg);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  height: 100%;
  font-family: "Poppins";
}
header {
  padding: 24px 156px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.christmas {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;

  align-items: center;
}
nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s;
}
nav ul li a.active,
nav ul li a:hover {
  color: var(--home-color);
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.theme-toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
main {
  min-height: 80vh;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 54px;
}
.hero-image {
  flex: 1;
}
.hero-image img {
  width: 100%;
  max-width: 500px;
}

.hero-content {
  flex: 1;
  padding-left: 50px;
}

.hero-content h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--abs-color);
}
.hero-content p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: var(--hero-content-p);
  margin-bottom: 30px;
  max-width: 400px;
}

.btn {
  display: inline-block;
  padding: 15px 35px;
  background-color: var(--home-color);
  color: var(--body-bg);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(241, 1, 1, 0.289);
  transition: 0.3s;
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.icon-btn-grid-menu {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.qq {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--home-color);
}

@media (max-width: 862px) {
  .celebrate {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .fff img {
    max-width: 266px;
    flex-direction: column;
  }
  .send-good {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 312px;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .fff img {
    max-width: 266px;
    flex-direction: column;
  }
  .nav-menu {
    display: none;
  }
  .hero-content {
    padding-left: 0;
    margin-top: 40px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }

  header {
    padding: 24px 46px;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .celebrate {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .icon-btn-grid-menu {
    display: inline-block;
  }

  .send-good {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 312px;
  }
}

@media (max-width: 549px) {
  .celebrate img {
    width: 280px;
    height: 280px;
  }
  .gift-container {
    flex-direction: row;

    min-width: 300px;
  }
  .gift-card {
    width: 144px;
    height: 192px;
    border-radius: 6px;
    padding: 10px;
  }
  .conteiner {
    padding: 0 10px;
  }
  .sctn {
    gap: 24px;
  }
  .kkk {
    max-width: 168px;
    padding: 20px;
    text-align: center;
  }
}

.start-giving {
  padding-top: 72px;
  margin: 0 auto;
  width: 205px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.surprise {
  text-align: center;
  padding-top: 56px;
  max-width: 142px;
}
.gifts {
  flex-direction: column;
}
.surprise p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--hero-content-p);
}
.surprise h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 4px;
}
.sctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 128px;
  margin-bottom: 165px;
}

.send-good {
  align-items: center;
  max-width: 372px;
  flex-direction: column;
}
.send-good h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  max-width: 235px;
  padding-bottom: 24px;
}
.send-good p {
  font-family: "Poppins", sans-serif;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  max-width: 372px;
  padding-bottom: 40px;
}
.celebrate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;
  gap: 88px;
}
.gift-card {
  background-color: var(--body-bg);
  width: 200px;
  height: 247px;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 19px 41px 5px rgba(0, 0, 0, 0.09);
  transition: transform 0.3s ease;
}
.gift-card:hover {
  transform: translateY(-5px);
}
.hh2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 64px;
}
.gingerbread {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 200px;
}

.heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--home-color);
  cursor: pointer;
  font-style: normal;
}
.gift-card img {
  width: 80px;
  margin: 20px auto;
  display: block;
}
.price {
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 5px 0;
}
.name {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--hero-content-p);
  margin: 0;
}
.aaa {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  gap: 40px;
}
.tree {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 20px;
  max-width: 200px;
}
.gifts-section {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 64px;
}
.card {
  min-width: 230px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  position: relative;
  scroll-snap-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}
.gift-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 70px;
  overflow-x: auto;
  background-color: var(--body-bg);
  max-width: 850px;
  height: 500px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.gift-container::-webkit-scrollbar {
  display: none;
}
.card-image-bg {
  background: var(--home-color);
  width: 100%;
  height: 180px;
  border-radius: 0 0 50% 50% / 0 0 40% 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.card-info {
  text-align: center;
  gap: 4px;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}
.card-image-bg img {
  width: 120px;
  height: auto;
}
.card-info h3 {
  font-family: "Poppins", sans-serif;
  margin: 10px 0 5px;
  font-size: 20px;
  font-weight: 600;
}
.card-info p {
  color: var(--hero-content-p);
  font-size: 14px;
}
.wishlist-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: var(--home-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}
.kkk {
  background-color: var(--home-color);
  justify-content: space-between;
  max-width: 968px;
  margin: 0 auto;
  border-radius: 60px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.h22 {
  color: var(--body-bg);
  font-size: 42px;
  line-height: 1.1;
  margin: 0 0 30px 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.send {
  display: flex;
  gap: 13px;
  flex-direction: column;
  max-width: 264px;
}
.message {
  border: none;
  max-width: 264px;
  height: 55px;
  border-radius: 64px;
  padding: 18px 24px;
}
.butn {
  display: inline-block;
  max-width: 175px;
  height: 55px;
  padding: 15px 35px;
  background-color: var(--text-color);
  color: var(--body-bg);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(241, 1, 1, 0.289);
  transition: 0.3s;
}
.butn:hover {
  transform: translateY(3px);
  background-color: var(--text-color);
}
.fff-img {
  position: absolute;
  bottom: -40px;
  right: 80px;
  width: 220px;
  transform: rotate(-12deg);
  pointer-events: none;
}

.footer {
  padding: 4rem 0 2rem;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
  position: relative;
}
.footer-title {
  margin-bottom: 24px;
}
.footer-description {
  margin-bottom: 44px;
}
.footer-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-link {
  display: block;
  margin-bottom: 0.75rem;
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

.footer-apps {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footerr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background-color: var(--text-color);
  color: var(--body-bg);
  padding: 3px;
  border-radius: 5px;
  height: 29.63px;
}
.footer-copy {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  border-top: 1px solid #eee;
  padding-top: 2rem;
}

@media screen and (max-width: 862px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-img-1,
  .footer-img-2 {
    width: 60px;
  }
  .footer {
    padding: 3rem 0 1.5rem;
  }
}

@media screen and (max-width: 549px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-apps {
    align-items: center;
  }

  .footer-img-1,
  .footer-img-2 {
    display: none;
  }
}
